body {
	font-family: 'Roboto', sans-serif;
}

.roboto-regular {
	font-weight: 400;
}
.roboto-medium-white {
	font-weight: 500;
	color: white;
}
.roboto-bold {
	font-weight: 700;
}

.footer {
	bottom: 0;
	color: white !important;
	text-align: center;
}
